<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <views>HP</views>
    <views>MP</views>
    <views>LV</views>
    <!-- value=0をデフォルトとする -->
    <money>
        <key>NIG</key>
        <name>ニギ</name>
        <value>0</value>
    </money>
    <money>
        <key>GLD</key>
        <name>ゴールド</name>
        <value>1</value>
    </money>
    <languages>
        <key>CLANG</key>
        <name>シーラン</name>
        <value>0</value>
    </languages>
    <languages>
        <key>MAGILAN</key>
        <name>魔族後</name>
        <value>1</value>
    </languages>
    <element>
        <id>FIR</id>
        <name>火</name>
    </element>
    <element>
        <id>WIN</id>
        <name>風</name>
    </element>
    <element>
        <id>WAT</id>
        <name>水</name>
    </element>
    <element>
        <id>EAT</id>
        <name>土</name>
    </element>
    <params>
        <description>生命力・体力</description>
        <key>HP</key>
        <name>ヒットポイント</name>
        <value>0</value>
    </params>
    <params>
        <description>魔法力</description>
        <key>MP</key>
        <name>マジックポイント</name>
        <value>0</value>
    </params>
    <params>
        <description>強さの段階</description>
        <key>LV</key>
        <name>マジックポイント</name>
        <value>0</value>
    </params>
    <params>
        <description>攻撃力、武器・防具の持てる合計重量を示す。</description>
        <key>POW</key>
        <name>ちから</name>
        <value>0</value>
    </params>
    <params>
        <description>行動の速さ、相手と５以上の差があるとき２回攻撃。</description>
        <key>AGI</key>
        <name>すばやさ</name>
        <value>0</value>
    </params>
    <params>
        <description>魔法・術などの効果量を示す。</description>
        <key>INT</key>
        <name>かしこさ</name>
        <value>0</value>
    </params>
    <params>
        <description>使える武器、防具、魔法・術などの種類が増える。</description>
        <key>DEX</key>
        <name>きようさ</name>
        <value>0</value>
    </params>
    <params>
        <description>人やモンスターに好かれる度合、統率力を示す。</description>
        <key>KSM</key>
        <name>カリスマ</name>
        <value>0</value>
    </params>
    <params>
        <description>武器を使用する回数により武器の扱いがうまくなる。</description>
        <key>JLV</key>
        <name>じゅくれんど</name>
        <value>0</value>
    </params>
    <params>
        <description>物理的な攻撃力を示す。</description>
        <key>ATK</key>
        <name>攻撃力</name>
        <value>0</value>
    </params>
    <params>
        <description>物理的な防御力を示す。</description>
        <key>DEF</key>
        <name>防御力</name>
        <value>0</value>
    </params>
    <params>
        <description>魔法・術、単体の効果値。</description>
        <key>MPW</key>
        <name>魔法威力</name>
        <value>0</value>
    </params>
    <params>
        <description>防具・アクセサリ内にある。魔法・術に対する魔除けの類の力、防具にのみついている。</description>
        <key>TSM</key>
        <name>魔除け力</name>
        <value>0</value>
    </params>
    <params>
        <description>道具の持てる数</description>
        <key>BPK</key>
        <name>バックパック</name>
        <value>0</value>
    </params>
    <statusList>
        <key>POI</key>
        <state>
            <formulaStr>HP-10%@1</formulaStr>
        </state>
    </statusList>
    <statusList>
        <key>MAH</key>
        <state>
            <formulaStr>NAC@2</formulaStr>
        </state>
    </statusList>
    <items>
        <key>WEV</key>
        <name>武器攻撃力</name>
        <value>0</value>
    </items>
    <items>
        <key>ARV</key>
        <name>防具防御力</name>
        <value>0</value>
    </items>
</config>
