<?xml version="1.0"?>
<!--
 param:　プレーヤー・モンスターのパラメータ
   .id: 各項目のIDを示す(必須)
   .discription: 各項目の説明(必須)
   .init: 初期値(オプショナル)※←必須ではないということ
   .formula: 各値を求めるための式

 status: プレーヤー・モンスターのステータス異常を表す
   .id: 各項目のIDを示す(必須)
   .discription: 各項目の説明(必須)
   .formula: 状態異常の効果を表す式
-->
<class>
    <money>NIG: ニギ</money>
    <money>GLD: ゴールド</money>
    <money>PSO: ペソ</money>
    <param>
        <id>HP</id>
        <discription>生命力・体力を表す、0になるとゲームオーバーになる。</discription>
    </param>
    <param>
        <id>MP</id>
        <discription>魔法力・技を出すためのエネルギー。</discription>
    </param>
    <param>
        <id>POW</id>
        <discription>ちから: 攻撃力、武器・防具の持てる合計重量を示す。</discription>
        <init>1</init>
    </param>
    <param>
        <id>AGI</id>
        <discription>すばやさ:　行動の速さ、相手と５以上の差があるとき２回攻撃。</discription>
        <init>1</init>
    </param>
    <param>
        <id>INT</id>
        <discription>かしこさ: 魔法・術などの効果量を示す。</discription>
        <init>1</init>
    </param>
    <param>
        <id>DEX</id>
        <discription>きようさ: 使える武器、防具、魔法・術などの種類が増える。</discription>
        <init>1</init>
    </param>
    <param>
        <id>KSM</id>
        <discription>カリスマ: 人やモンスターに好かれる度合、統率力を示す。</discription>
        <init>1</init>
    </param>
    <param>
        <id>JLV</id>
        <discription>じゅくれんど: 武器を使用する回数により武器の扱いがうまくなる。</discription>
        <init>1</init>
    </param>
    <param>
        <id>ATK</id>
        <discription>攻撃力: 物理的な攻撃力を示す。</discription>
        <!-- (ちから + 武器攻撃力) * (1 + (0.1 * じゅくれんど)) -->
        <formula>(POW + WEV) * (1 + (0.1 * JLV))</formula>
    </param>
    <param>
        <id>DEF</id>
        <discription>防御力: 物理的な防御力を示す。</discription>
        <!-- (ちから + すばやさ + きようさ) / 3 + 防具防御力 -->
        <formula>(POW + AGI + DEX) / 3 + ARV</formula>
    </param>
    <param>
        <id>MPW</id>
        <discription>魔法威力: 魔法・術、単体の効果値。</discription>
    </param>
    <param>
        <id>TSM</id>
        <discription>魔よけ力: 防具・アクセサリ内にある。魔法・術に対する魔除けの類の力、防具にのみついている。</discription>
    </param>
    <param>
        <id>BPK</id>
        <discription>バックパック: 道具などを持って歩くための入れ物、アイテム所持量を増やす。デフォルトの容量は5。</discription>
    </param>
    <status>
        <id>POI</id>
        <discription>毒を受けた状態を表す。</discription>
        <!-- 「@」は毎ターンを表す -->
        <formula>(HP-1)@1</formula>
    </status>
    <item>
        <id>WEV</id>
        <discription>武器攻撃力: 武器を装備したときに増加するATKを示す。</discription>
    </item>
    <item>
        <id>ARV</id>
        <discription>防具防御力: 防具を装備したときに増加するDIFを示す。</discription>
    </item>

</class>